<ng-container *ngIf="moviesSubscription | async; let movies">
  <app-decades
    *ngIf="movies.Decades?.length"
    [decades]="movies.Decades"
    [currDecade]="currDecade"
    (updateDecade)="displayMovies($event)"
  ></app-decades>

  <ng-container *ngIf="filteredMovies.length">
    <div class="movies">
      <ng-container *ngFor="let movie of filteredMovies">
        <app-movie-card class="grid grid-bleed" [movie]="movie"></app-movie-card>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
